<app-header></app-header>
<!-- content starts here -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1">
        <app-side-bar></app-side-bar>
      </div>

      <div class="col-lg-11 col-sm-12">
        <!-- slider starts here -->
        <div class="hero">
          <div id="introduce-banner" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#introduce-banner" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#introduce-banner" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#introduce-banner" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    <div class="carousel-caption">
                      <h2><a routerLink="">F8 trên Facebook</a></h2>
                      <p>
                        F8 được nhắc đến mọi nơi, ở đâu có cơ hội việc làm IT và
                        có những con người yêu thích lập trình F8 sẽ ở đâu
                      </p>
                      <div>
                        <a routerLink="" class="outline-btn">Truy cập nhóm</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 banner">
                    <img src="assets/img/Banner_01.png" class="d-block w-100" alt="" />
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    <div class="carousel-caption">
                      <h2><a routerLink="">Thành quả của học viên</a></h2>
                      <p>
                        Để đạt được kết quả tốt trong mọi việc ta cần xác định
                        mục tiêu rõ ràng cho việc đó. Học lập trình cũng không
                        ngoại lệ.
                      </p>
                      <div>
                        <a routerLink="" class="outline-btn">Xem thành quả</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 banner">
                    <img src="assets/img/Banner_02.png" class="d-block w-100" alt="" />
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    <div class="carousel-caption">
                      <h2><a routerLink="">F8 trên Youtube</a></h2>
                      <p>
                        F8 được nhắc đến mọi nơi, ở đâu có cơ hội việc làm IT và
                        có những con người yêu thích lập trình F8 sẽ ở đâu
                      </p>
                      <div>
                        <a routerLink="" class="outline-btn">Truy cập kênh</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 banner">
                    <img src="assets/img/Banner_03_youtube.png" class="d-block w-100" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#introduce-banner" data-bs-slide="prev">
              <fa-icon [icon]="faChevronLeft"></fa-icon>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#introduce-banner" data-bs-slide="next">
              <fa-icon [icon]="faChevronRight"></fa-icon>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!-- slider ends here -->
        <!-- course starts here -->
        <div class="course">
          <p><strong>35.572+</strong> người đã học</p>
          <div class="course__heading">
            <h2>Khóa học nổi bật</h2>
            <div>
              <a routerLink="">Xem tất cả <fa-icon [icon]="faChevronRight"></fa-icon></a>
            </div>
          </div>
          <div class="scroll-btns">
            <button class="scroll-btn scroll-left" appScrollRtl><fa-icon [icon]="faChevronLeft"></fa-icon></button>
            <button class="scroll-btn scroll-right" appScrollLtr><fa-icon [icon]="faChevronRight"></fa-icon></button>
          </div>
          <div class="course__container">
            <div class="course__item" *ngFor="let course of courseList">
              <div class="course__item__thumb" style="background-image: url({{course.image}})"></div>
              <div class="course__item__title">
                <a [routerLink]="['/course-detail', course.hashCode]">{{
                  course.title
                  }}</a>
              </div>
              <div class="course__item__studentCount">
                <fa-icon [icon]="faUsers"></fa-icon> {{ course.totalStudent }}
              </div>
            </div>
          </div>
        </div>
        <div class="course" *ngIf="!isTokenExpired">
          <div class="course__heading">
            <h2>Khóa học đã đăng ký</h2>
            <div>
              <a routerLink="">Xem tất cả <fa-icon [icon]="faChevronRight"></fa-icon></a>
            </div>
          </div>
          <div class="scroll-btns">
            <button class="scroll-btn scroll-left" appScrollRtl><fa-icon [icon]="faChevronLeft"></fa-icon></button>
            <button class="scroll-btn scroll-right" appScrollLtr><fa-icon [icon]="faChevronRight"></fa-icon></button>
          </div>
          <div class="course__container">
            <div class="course__item" *ngFor="let course of studiedCourseList">
              <div class="course__item__thumb" style="background-image: url({{course.image}})"></div>
              <div class="course__item__title">
                <a [routerLink]="['/course-detail', course.hashCode]">{{
                  course.title
                  }}</a>
              </div>
              <div class="course__item__studentCount">
                <fa-icon [icon]="faUsers"></fa-icon> {{ course.totalStudent }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>