.header {
  position: fixed;
  box-shadow: #bebebe 0px 3px 6px 0px;
  z-index: 9;
  background: #ffffff;
  width: 100vw;
  padding: 12px 16px;
  border-bottom: 1px solid #f0f0f0;
  &__title {
    display: inline-block;
    font-weight: 600;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 600px;
  }
  &__hamburger-btn {
    display: none;
    width: 40px;
    height: 40px;
    color: #666666;
    font-size: 26px;
    & + ul {
      padding-top: 50px;
      list-style: none;
      position: absolute;
      visibility: hidden;
      top: 0;
      left: -360px;
      background-color: #ffffff;
      width: 360px;
      height: 100vh;
      z-index: 9;
      transition: 0.3s;
      box-shadow: #ffffff 0px 3px 6px 0px;
      li {
        padding: 15px 20px;
        margin: 5px;
        border-radius: 8px;

        a {
          text-decoration: none;
          color: #757575;
        }
        &:active {
          background-color: #ececec;
        }
      }
    }
  }
  &__search {
    position: relative;
    fa-icon {
      position: absolute;
      left: 10px;
      top: 5px;
      font-size: 20px;
      color: #a8b2b8;
    }
    input {
      outline: none;
      padding: 0 30px 0 40px;
      border: 1px solid #f0f0f0;
      height: 40px;
      border-radius: 32px;
      width: 420px;

      &:focus {
        border: 1px solid #f05123;
      }
    }

  }

  &__login {
    position: relative;
    min-width: 100px;
    height: 40px;
    display: flex;
    justify-content: end;
    &__alt-search,
    &__cart {
      font-size: 20px;
      color: #666666;
      margin: 0 10px;
      padding: 5px 7px;
      display: inline-block;
      cursor: pointer;
    }
    &__alt-search {
      display: none;
      font-size: 24px;
    }

    &__btn {
      text-decoration: none;
      display: block;
      font-size: 16px;
      font-weight: 600px;
      min-width: 120px;
      cursor: pointer;
      text-align: center;
      background-color: #f05123;
      line-height: 16px;
      padding: 10px 12px;
      border-radius: 4px;
      color: #ffffff;
      &:hover {
        opacity: 0.9;
      }
    }
    &__user {
      left: 100px;
      cursor: pointer;
      &__avatar {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 40px;
      }
    }
    &__info {
      position: absolute;
      top: 60px;
      background-color: #ffffff;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
      &__greeting {
        border-bottom: 1px solid #cdcdcd;
        margin: 0;
        padding: 10px;
        font-weight: 700;
      }
      &__logout {
        cursor: pointer;
        display: block;
        padding: 10px;
        text-decoration: none;
        font-weight: 700;
        color: #000;
      }
    }
  }
}