<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div>
          <a routerLink="" class="header__logo"><img src="assets/img/f8_icon.png" alt="f8-logo" width="36px"
              height="36px" /></a>
          <h4 class="header__title">Học lập trình để đi làm</h4>
        </div>
        <a class="header__hamburger-btn">
          <fa-icon [icon]="faBars"></fa-icon>
        </a>
        <ul>
          <li>
            <a href="">
              <fa-icon [icon]="faSignInAlt"></fa-icon> Đăng nhập
            </a>
          </li>
          <li>
            <a href="">
              <fa-icon [icon]="faHome"></fa-icon> Home
            </a>
          </li>
          <li>
            <a href="">
              <fa-icon [icon]="faHiking"></fa-icon> Lộ trình
            </a>
          </li>
          <li>
            <a href="">
              <fa-icon [icon]="faLightbulb"></fa-icon> Học
            </a>
          </li>
          <li>
            <a href="">
              <fa-icon [icon]="faNewspaper"></fa-icon> Blog
            </a>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <div class="header__search" *ngIf="formSearch">
          <form (ngSubmit)="onSubmit()" [formGroup]="formSearch">
            <input type="text" class="header__search__input" formControlName="search"
              placeholder="Tìm kiếm khóa học, bài biết, video, ..." [value]="nameCourseSearch" />
            <button #submitBtn type="submit" style="display:none">hidden submit</button>
          </form>
        </div>
      </div>
      <div class="col-4">
        <div class="header__login">
          <a class="header__login__alt-search">
            <fa-icon [icon]="faSearch"></fa-icon>
          </a>
          <a class="header__login__cart" routerLink="">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
          </a>
          <a routerLink="/login" class="header__login__btn" *ngIf="!isLoggedIn">Đăng Nhập</a>
          <div class="header__login__user" *ngIf="isLoggedIn">
            <a (click)="toggle()" class="header__login__user__avatar"><img src="{{avatarLink}}" alt="" width="40px" height="40px"></a>
          </div>
          <div class="header__login__info" *ngIf="isDisplayed">
            <p class="header__login__info__greeting">Hello, {{username}}</p>
            <a class="header__login__info__logout" routerLink="/login">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>