<div class="hide-sidebar">
  <div class="sidebar">
    <div class="sidebar__btn">
      <fa-icon [icon]="faPlus"></fa-icon>
      <ul>
        <li>
          <a href=""><fa-icon [icon]="faPen"></fa-icon> Viết Blog</a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faQuestion"></fa-icon> Đặt câu hỏi</a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faShare"></fa-icon> Chia sẻ code</a>
        </li>
      </ul>
    </div>
    <div class="sidebar__nav">
      <ul>
        <li class="active">
          <fa-icon [icon]="faHome"></fa-icon><a href="">Home</a>
        </li>
        <li><fa-icon [icon]="faHiking"></fa-icon><a href=""> Lộ trình</a></li>
        <li><fa-icon [icon]="faLightbulb"></fa-icon><a href=""> Học</a></li>
        <li><fa-icon [icon]="faNewspaper"></fa-icon><a href=""> Blog</a></li>
      </ul>
    </div>
  </div>
</div>
