.sidebar {
  padding-right: 10px;
  position: fixed;
  left: 0;
  top: 4rem;
  &__btn {
    position: relative;
    margin: 20px auto;
    height: 44px;
    width: 44px;
    background-color: #1473e6;
    border-radius: 100px;

    & > fa-icon {
      position: absolute;
      top: 10px;
      left: 14px;
      color: #ffffff;
      transition: 0.3s;
      &:hover {
        font-size: 24px;
        top: 5px;
        left: 10px;
      }
    }

    ul {
      display: none;
      position: absolute;
      top: 50px;
      left: -10px;
      background-color: #ffffff;
      padding: 8px 0;
      list-style: none;
      width: 200px;
      height: 140px;
      border-radius: 8px;
      li {
        padding: 12px 20px;
        a {
          fa-icon {
            padding: 0 16px;
          }
          text-decoration: none;
          color: #000;
        }
      }
    }
  }

  &__nav {
    ul {
      list-style: none;
      padding: 0 10px;
      li {
        width: 72px;
        height: 72px;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        margin: 4px 0;
        justify-content: center;
        color: #404040;
        font-size: 11px;
        &.active,
        &:hover {
          background-color: #f0f0f0;
        }

        fa-icon {
          font-size: 20px;
          text-align: center;
          display: block;
        }
        a {
          text-decoration: none;
          text-align: center;
          color: #404040;
        }
      }
    }
  }
}
