@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

/////// SIDE BAR
.content-container {
  padding: 80px 0;
}

/////// CONTENT
// Main Content Left
.main-content {
  margin-top: 1rem;
  padding: 0 1.5rem;
  &__header {
    font-size: 2rem;
    font-weight: 700;
  }

  &__sub-header {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.8);
    margin: 1.5rem 0;
  }

  // &__expectation {
  // }

  &__expectation-header {
    font-size: 1.25rem;
    font-weight: 700;
  }
  &__expectation-content {
    display: flex;
  }

  &__expectation-list {
    line-height: 2;
    list-style-type: none;
    padding-left: 0;
    flex: 1;
  }

  &__expectation-list-item {
    font-size: 0.875rem;
    i {
      margin-right: 1rem;
      color: #f05123;
    }
  }
}

.syllabus {
  margin: 2rem 0;
  &__header {
    padding-top: 1rem;
    height: 5rem;
    position: sticky;
    top: 4rem;
    background-color: #fff;
    z-index: 5;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
  }
  &__infor {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
  }

  &__infor-container {
    display: flex;
  }
  &__modules {
    margin-right: 1rem;
  }
  &__lessons {
    margin-right: 1rem;
  }
  &__length {
    margin-right: 1rem;
  }
  &__btn-expand {
    justify-self: flex-end;
    color: #f05123;
    font-weight: 600;
    text-decoration: none;
  }
}

.learning-section {
  position: relative;
  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + .learning-section__label::after {
      content: "\f067";
    }

    &:checked ~ .content {
      display: none;
    }
  }

  &__label {
    width: 100%;
    cursor: pointer;
    display: inline !important;

    &::after {
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-family: "Font Awesome 5 Free";
      content: "\f068";
      font-size: 0.7rem;
      font-weight: 700;
      color: #f05123;
      width: 0.9375rem;
      height: 0.9375rem;
      text-align: center;
      transition: all 0.35s;
      z-index: 4;
    }
  }

  &__header {
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    padding: 0 2rem 0 3rem;
    border-radius: 0.3rem;
    position: sticky;
    top: 8.9rem;
    z-index: 4;

    &--title {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
    }
    &--lessons {
      font-size: 0.875rem;
      margin: 0;
    }
  }
}

.content {
  &__lesson {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 0.875rem;
  }

  &__text-box {
    display: flex;
  }

  &__icon-play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.7rem;
    color: #f05123;
  }

  &__title {
    margin-bottom: 0;
  }

  &__time-length {
    margin-bottom: 0;
  }
}

.requirements {
  &__header {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

// Side Content Right
.side-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  top: 5rem;
  padding: 1.5rem;

  &__video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
  }

  &__infor {
    margin-top: 2rem;
  }
  &__text {
    font-size: 0.875rem;
    color: #494949;

    &--free {
      font-size: 2rem;
      text-align: center;
      color: #f05123;
      margin-top: 1rem;
    }
  }

  &__icon {
    margin-right: 1rem;
  }

  &__btn-register {
    border: none;
    background-color: #f05123;
    color: #fff;
    padding: 0.4rem 1.2rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 0.5rem;
  }
}
