<app-header></app-header>

<!-- content starts here -->
<div class="content-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1">
        <app-side-bar></app-side-bar>
      </div>

      <div class="col-lg-11 col-sm-12">
        <div class="container-fluid">
          <div class="row">
            <!-- Main Content left -->
            <div class="col-sm-8 main-content">
              <h1 class="main-content__header">{{ courseDetail.title }}</h1>
              <p class="main-content__sub-header">
                Trong khóa này chúng ta sẽ cùng nhau xây dựng giao diện 2 trang
                web là The Band & Shopee.
              </p>

              <div class="main-content__expectation">
                <h2 class="main-content__expectation-header">
                  Bạn sẽ học được gì
                </h2>
                <div class="main-content__expectation-content">
                  <ul class="main-content__expectation-list">
                    <li class="main-content__expectation-list-item">
                      <i class="fas fa-check"></i>
                      <span
                        >Biết cách xây dựng giao diện web với HTML, CSS</span
                      >
                    </li>
                    <li class="main-content__expectation-list-item">
                      <i class="fas fa-check"></i>
                      <span> Biết cách đặt tên class CSS theo chuẩn BEM</span>
                    </li>
                    <li class="main-content__expectation-list-item">
                      <i class="fas fa-check"></i>
                      <span>Làm chủ Flexbox khi dựng bố cục website</span>
                    </li>
                    <li class="main-content__expectation-list-item">
                      <i class="fas fa-check"></i>
                      <span>Biết cách tự tạo động lực cho bản thân</span>
                    </li>
                  </ul>
                  <ul class="main-content__expectation-list">
                    <li class="main-content__expectation-list-item">
                      <i class="fas fa-check"></i>
                      <span>Biết cách phân tích giao diện website</span>
                    </li>
                    <li class="main-content__expectation-list-item">
                      <i class="fas fa-check"></i>
                      <span>Biết cách làm giao diện web responsive</span>
                    </li>
                    <li class="main-content__expectation-list-item">
                      <i class="fas fa-check"></i>
                      <span>Sở hữu 2 giao diện web khi học xong khóa học</span>
                    </li>
                    <li class="main-content__expectation-list-item">
                      <i class="fas fa-check"></i>
                      <span>Biết cách tự học những kiến thức mới</span>
                    </li>
                  </ul>
                </div>
              </div>

              <div>
                <div class="syllabus">
                  <div class="syllabus__header">
                    <h2 class="syllabus__title">Nội dung khóa học</h2>
                    <div class="syllabus__infor">
                      <div class="syllabus__infor-container">
                        <p class="syllabus__modules">13 phần</p>
                        <p class="syllabus__lessons">113 bài học</p>
                        <p class="syllabus__length">
                          Thời lượng 27 giờ 21 phút
                        </p>
                      </div>
                      <a href="#" class="syllabus__btn-expand"
                        >Mở rộng tất cả</a
                      >
                    </div>
                  </div>

                  <div class="syllabus__content">
                    <div class="learning-section">
                      <input
                        type="checkbox"
                        id="check"
                        class="learning-section__checkbox"
                      />
                      <label class="learning-section__label" for="check">
                        <div class="learning-section__header">
                          <h4 class="learning-section__header--title">
                            1. Giới thiệu
                          </h4>
                          <p class="learning-section__header--lessons">
                            2 bài học
                          </p>
                        </div>
                      </label>

                      <div class="content">
                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>
                      </div>
                    </div>

                    <div class="learning-section">
                      <input
                        type="checkbox"
                        id="check1"
                        class="learning-section__checkbox"
                      />
                      <label class="learning-section__label" for="check1">
                        <div class="learning-section__header">
                          <h4 class="learning-section__header--title">
                            2. Giới thiệu
                          </h4>
                          <p class="learning-section__header--lessons">
                            2 bài học
                          </p>
                        </div>
                      </label>

                      <div class="content">
                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>
                      </div>
                    </div>

                    <div class="learning-section">
                      <input
                        type="checkbox"
                        id="check2"
                        class="learning-section__checkbox"
                      />
                      <label class="learning-section__label" for="check2">
                        <div class="learning-section__header">
                          <h4 class="learning-section__header--title">
                            3. Giới thiệu
                          </h4>
                          <p class="learning-section__header--lessons">
                            2 bài học
                          </p>
                        </div>
                      </label>

                      <div class="content">
                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>
                      </div>
                    </div>

                    <div class="learning-section">
                      <input
                        type="checkbox"
                        id="check3"
                        class="learning-section__checkbox"
                      />
                      <label class="learning-section__label" for="check3">
                        <div class="learning-section__header">
                          <h4 class="learning-section__header--title">
                            4. Giới thiệu
                          </h4>
                          <p class="learning-section__header--lessons">
                            2 bài học
                          </p>
                        </div>
                      </label>

                      <div class="content">
                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>

                        <div class="content__lesson">
                          <div class="content__text-box">
                            <fa-icon
                              [icon]="faPlayCircle"
                              class="content__icon-play"
                            ></fa-icon>
                            <p class="content__title">
                              1. Làm được gì sau khóa học?
                            </p>
                          </div>
                          <p class="content__time-length">03:15</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="requirements">
                  <h2 class="requirements__header">Yêu cầu</h2>
                </div>
              </div>
            </div>
            <!-- End of Main Content left -->

            <!-- Main Content right -->
            <div class="col-sm-4 side-content">
              <div class="side-content__video-container">
                <iframe
                  class="side-content__video"
                  src="https://www.youtube.com/embed/zwsPND378OQ"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
              <p class="side-content__text--free">Miễn phí</p>
              <button class="side-content__btn-register">Đăng ký học</button>
              <div class="side-content__infor">
                <p class="side-content__text">
                  <i class="fas fa-layer-group side-content__icon"></i>
                  <span class="side-content__text--detail"
                    >Trình độ cơ bản</span
                  >
                </p>
                <p class="side-content__text">
                  <i class="fas fa-film side-content__icon"></i>
                  <span class="side-content__text--detail"
                    >Tổng số 34 bài học</span
                  >
                </p>
                <p class="side-content__text">
                  <i class="fas fa-clock side-content__icon"></i>
                  <span class="side-content__text--detail"
                    >Thời lượng 06 giờ 31 phút</span
                  >
                </p>
                <p class="side-content__text">
                  <i class="fas fa-battery-full side-content__icon"></i>
                  <span class="side-content__text--detail"
                    >Học mọi lúc, mọi nơi</span
                  >
                </p>
              </div>
            </div>
            <!-- End of Main Content right -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content ends here -->

<app-footer></app-footer>
