<app-header [nameCourseSearch]="nameCourseSearch"></app-header>
<!-- content starts here -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1">
        <app-side-bar></app-side-bar>
      </div>

      <div class="col-lg-11 col-sm-12">
        <!-- slider starts here -->
        <!-- slider ends here -->
        <!-- course starts here -->
        <div class="course__container">
          <div class="container" *ngIf="courseList && courseList.length; else elseBlock">
            <div class="HT_search_header">
              <div class="HT_search_title">
                <h1 *ngIf="courseList">{{courseList.length }} results for "{{nameCourseSearch}}"</h1>
              </div>
              <div class="HT_related_contianer">
                <h3>Explore <a href="">{{nameCourseSearch}} course</a></h3>
                <h4 class="HT_related_topic">
                  <span>Student learn</span>
                  <a href="" class="ms-1">TypeScript</a>
                  <a href="" class="ms-1">Angular Material</a>
                </h4>
              </div>
            </div>
            <div class="HT_search_banner border">
              <h2 class="fw-bold">Not sure? All courses have a 30-days money-back guarantee</h2>
            </div>
            <div class="HT_search_results_container">
              <div class="HT_fillter_panel row align-items-center">
                <div class="HT_filter_button col-3">
                  <button type="button" (click)="toggleSidebar()" class="btn_filter btn btn-light btn-outline-dark"><i
                      class="bi bi-filter me-1"></i>Filter</button>
                  <select [(ngModel)]="sortYear" (change)="addFillter()" class="select btn btn-light btn-outline-dark">
                    <option value="undefined">Sắp xếp</option>
                    <option value="true">Gần đây</option>
                    <option value="false">Cũ nhất</option>
                    <!-- <option value="3">Newest</option> -->
                  </select>
                </div>
                <div class="HT_filter_results col">
                  <p class="fw-bold" (click)="clearFilter()">Clear filter</p>
                  <p class="text-end text-muted text-center" *ngIf="courseList">{{courseList.length }} results</p>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-3 HT_filter_panel_sidebar" [style.display]="toggle ? 'none' : 'block'">
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseOne">
                          <!-- <strong>Topic</strong> -->
                          <strong>Instructor</strong>
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                          <div>
                            <input class="me-1" type="checkbox" name="topic" id="nodejs">
                            <label for="nodejs">Node.Js</label>
                          </div>
                          <div>
                            <input class="me-1" type="checkbox" name="topic" id="js">
                            <label for="js">JavaScript</label>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseTwo">
                          <strong>Level {{levelCourse}}</strong>
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                          <!-- <div>
                            <input type="checkbox" name="level" id="all"> class="me-1"
                            <label for="all">All levels &#40; 1,400 &#41;</label>
                          </div> -->
                          <div>
                            <input class="me-1" type="radio" name="level" id="beginer" (change)="addFillter()"
                              [(ngModel)]="levelCourse" value="0">
                            <label for="beginer">Beginer </label>
                          </div>
                          <div>
                            <input class="me-1" type="radio" name="level" id="intermediate" (change)="addFillter()"
                              [(ngModel)]="levelCourse" value="1">
                            <label for="intermediate">Intermediate;</label>
                          </div>
                          <div>
                            <input class="me-1" type="radio" name="level" id="expert" (change)="addFillter()"
                              [(ngModel)]="levelCourse" value="2">
                            <label for="expert">Expert</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseThree">
                          <!-- <strong>Language</strong> -->
                          <strong>Price</strong>
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                          <div>
                            <input class="me-1" type="checkbox" name="language" id="english">
                            <label for="english">English</label>
                          </div>
                          <div>
                            <input class="me-1" type="checkbox" name="language" id="vietnamese">
                            <label for="vietnamese">Vietnamese</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseFour">
                          <strong>Price</strong>
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">

                        </div>
                      </div>
                    </div> -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseFive">
                          <strong>Features</strong>
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingFive">
                        <div class="accordion-body">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="HT_filter_results_course col">
                  <ng-container *ngFor="let course of courseList">
                    <div class="HT_course_card">
                      <div class="HT_course_card_img">
                        <img src="{{course.image}}">
                      </div>
                      <div class="HT_course_card_content">
                        <div class="HT_course_card_title">
                          {{course.title}}
                        </div>
                        <div class="HT_course_card_text">
                          Master the Angular Components like a PRO to create technically brilliant components
                        </div>
                        <div class="HT_course_card_intructor">
                          Enrique Oriol
                        </div>
                        <div class="HT_course_card_rate">
                          <span>4.4</span>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star"></i>
                          <span>( 402 )</span>
                        </div>
                        <div class="HT_course_card_text">
                          <span>2 total hours</span>
                          <span>30 lectures</span>
                          <span>Expert</span>
                        </div>
                      </div>
                      <div class="HT_course_card_price col">
                        <div class="HT_course_card_price_sale">
                          $9.9
                        </div>
                        <div class="HT_course_card_price_origin">
                          $15
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3  mt-5">
          <ngb-pagination [collectionSize]="120" [(page)]="page" (pageChange)="addFillter()" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
          <hr>
          <ng-template #elseBlock>
            <h1>Sorry, we couldn't find any results for "{{nameCourseSearch}}"</h1>
          </ng-template>
          <!-- content ends here -->
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>