.content {
  padding-top: 80px;

  .hero {
    margin: 6px 0 50px 0;
    padding: 0 10px 0 20px;
    position: relative;

    .carousel-item {
      height: 270px;
      border-radius: 16px !important;

      &:first-of-type {
        background: rgb(0, 126, 254);
        background: linear-gradient(
          90deg,
          rgba(0, 126, 254, 1) 0%,
          rgba(6, 195, 254, 1) 100%
        );
      }

      &:nth-of-type(2) {
        background: rgb(118, 19, 255);
        background: linear-gradient(
          90deg,
          rgba(118, 19, 255, 1) 0%,
          rgba(5, 178, 255, 1) 100%
        );
      }
      &:last-of-type {
        background: rgb(254, 33, 93);
        background: linear-gradient(
          90deg,
          rgba(254, 33, 93, 1) 0%,
          rgba(253, 147, 2, 1) 100%
        );
      }

      .carousel-caption {
        position: static !important;
        text-align: start !important;
        padding-left: 40px;
        padding-top: 50px;

        h2 {
          font-size: 32px;
          font-weight: 700;
          line-height: 48px;
          overflow-x: hidden;
          min-width: 300px;
          a {
            text-decoration: none;
            color: #ffffff;
          }
        }

        p {
          max-height: 50px;
          line-height: 26px;
          font-size: 18px;
        }

        .outline-btn {
          display: inline-block;
          border: 2px solid #ffffff;
          border-radius: 16px;
          font-size: 14px;
          text-align: center;
          padding: 4px 10px;
          background: transparent;
          color: #ffffff;
          text-decoration: none;
          font-weight: 600;

          &:hover {
            color: rgb(118, 19, 255);
            background: #ffffff;
            border-color: transparent;
          }
        }
      }
    }
    @mixin control-btn {
      display: inline-block !important;
      position: absolute !important;
      top: 119px !important;
      width: 32px !important;
      height: 32px !important;
      background: #ffffff !important;
      border-radius: 50px;
      opacity: 1 !important;
      box-shadow: #444444 0px 3px 6px 0px;
      color: #000 !important;
    }
    .carousel-control-prev {
      @include control-btn;

      left: -16px !important;
      .carousel-control-prev-icon {
        color: #000 !important;
        font-size: 16px !important;
      }
    }
    .carousel-control-next {
      @include control-btn;
      right: -16px !important;
      .carousel-control-next-icon {
        color: #000 !important;
        font-size: 16px !important;
      }
    }
  }

  .course {
    padding: 0 50px 70px;
    p {
      color: #82919b;
      line-height: 16px;
      font-size: 14px;
      margin: 14px 0 0;
    }

    &__heading {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      h2 {
        display: inline-block;
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
      }
      a {
        padding-right: 20px;
        color: #f05123;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        transition: 0.3s;
        &:hover {
          text-decoration: underline;

          fa-icon {
            position: relative;
            left: 6px;
          }
        }
      }
    }

    &__container {
      display: flex;

      overflow: auto;
      overflow-y: hidden;
      white-space: nowrap;

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
        width: 6px;
        border-radius: 16px;
      }

      &::-webkit-scrollbar {
        background-color: #f5f5f5;
        border-radius: 16px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #a8b2b8;
        border-radius: 16px;
      }

      .course__item {
        margin-right: 20px;
        width: 320px;
        height: 250px;
        padding: 0;

        &__thumb {
          width: 320px;
          height: 180px;
          background-size: cover;
          border-radius: 16px;
        }

        &__title {
          padding: 10px 0 5px 5px;
          a {
            text-decoration: none;
            color: #292929;
            font-size: 18px;
            font-weight: 600;
            line-height: 32px;
          }
        }
        &__studentCount {
          padding-bottom: 5px;
          color: #666666;
          fa-icon {
            padding: 0 5px;
          }
        }
      }
    }
  }
}

// mobile-responsive

@media screen and (max-width: 1023px) {
  .header {
    &__title,
    &__logo {
      display: none;
    }
    &__hamburger-btn {
      display: block;
      &:active + ul {
        visibility: inherit;
        transform: translateX(340px);
      }
    }
  }

  .content {
    .hide-sidebar {
      display: none;
    }
  }
}

@media screen and (max-width: 950px) {
  .header {
    &__search {
      display: none;
    }
    &__login {
      &__alt-search {
        display: inline-block;
      }
    }
  }
  .content {
    .hide-sidebar {
      display: none;
    }
    .hero {
      .carousel-item {
        .banner {
          display: none;
        }
      }
    }
  }

  .footer {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .carousel-caption p {
    display: none !important;
  }
}

h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.1875rem;
}
h4 {
  font-size: 1rem;
}
$text-color-a: #5624d0;
$text-color-a-hover: #401b9c;
$text-color-h: #1c1d1f;
$icon_color_rate: #e59819;

.container {
  .HT_search_header {
    .HT_related_contianer {
      display: flex;
      flex-direction: column;
      gap: 0.3125rem;
    }
    .HT_search_title {
      height: 2.375rem;
    }
    h1,
    h3,
    h4 {
      font-weight: 700px;
      letter-spacing: -0.2px;
      color: $text-color-h;
    }
  }
  .HT_search_banner {
    display: flex;
    align-items: center;
    height: 4.125rem;
    padding-left: 4.9rem;
    margin-top: 10px;
    h2 {
      font-size: 1rem;
    }
  }
  .HT_search_results_container {
    margin-top: 1.5625rem;
    .HT_fillter_panel {
      .HT_filter_button {
        display: flex;
        justify-content: space-between;
        .btn {
          padding: 10px 25px;
        }
        .btn:focus {
          box-shadow: unset;
        }
        .btn:hover {
          background-color: unset;
          color: $text-color-h;
        }
        .select {
          font-size: 0.8125rem;
          padding: 13px;
          text-align: left;
        }
      }
      .HT_filter_results {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 1rem;
        }
      }
    }
    .HT_filter_panel_sidebar {
      .accordion-item {
        border-left: unset;
        border-right: unset;
      }
      .accordion-button {
        strong {
          font-weight: 700px;
          letter-spacing: -0.2px;
          color: $text-color-h;
        }
      }
      .accordion-body {
        label {
          font-size: 14px;
        }
      }
    }
    .HT_filter_results_course {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .HT_course_card {
        display: flex;
        gap: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(119, 114, 114);
        .HT_course_card_img {
          width: 16.25rem;
          height: 9.125rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .HT_course_card_content {
          display: flex;
          flex-direction: column;
          gap: 3px;
          font-weight: 700px;
          letter-spacing: -0.2px;
          .HT_course_card_title {
            font-size: 16px;
            font-weight: bolder;
          }
          .HT_course_card_text,
          .HT_course_card_intructor,
          .HT_course_card_rate {
            font-size: 12px;
          }
          .HT_course_card_rate {
            .bi-star-fill {
              color: $icon_color_rate;
            }
          }
        }
        .HT_course_card_price {
          .HT_course_card_price_sale,
          .HT_course_card_price_origin {
            font-size: 16px;
            text-align: right;
          }
          .HT_course_card_price_sale {
            font-weight: bolder;
          }
          .HT_course_card_price_origin {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
