// // *{
// //     background-color: red;
// // }
.DL__header-logo-wrapper {
    // margin-top: 3rem;
    // margin-bottom: 3rem;

    a {
        img {
            width: 2.75rem;
            height: 2.75rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    h3 {
        text-align: center;
        font-style: bold;
        font-weight: 650;
        margin-top: 1.5rem;
    }
}

.register-wrapper {
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),
    url(https://cdn.fullstack.edu.vn/f8-learning/manual_uploads/f8_bg_auth_1366.png) ;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.register-container {
    width: 39.9375em;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: white;
    border-radius: 0.625rem;
    padding: 1rem 1.5rem;
}
.member-already{
    text-align: center;
    
}
.login-btn{
    text-decoration: none;
}
.form-group{
    // width: 90%;
    margin-left: 5%;
    display: flex;
}
.form-group .form-wrapper {
    width: 50%;
    margin-right: 40px;
}

.form-wrapper {
    margin-bottom: 10px;

}
.member-already{
    align-items: center;
}
.require-color{
    color: red;
}