<div class="register-wrapper">
    <div class="container register-container">
        <header class="DL__header-logo">
            <div class="DL__header-logo-wrapper">
                <a href="#"><img src="https://fullstack.edu.vn/assets/icon/f8_icon.png" alt="Logo F8"></a>
                <h3 >Register</h3>
            </div>
        </header>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <div class="main-form">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="form-wrapper">

                    </div>
                    <div class="form-wrapper">

                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="FirstName">First Name:
                            <span class='require-color'>*</span>
                        </label>
                        <input type="text" formControlName="FirstName" class="form-control mb-2" placeholder="Enter First Name" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
                        <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                            <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label for="LastName">Last Name:
                            <span class='require-color'>*</span>
                        </label>
                        
                        <input type="text" formControlName="LastName" class="form-control mb-2" placeholder="Enter a last name" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
                        <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                            <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                            <!-- <div *ngIf="f.LastName.errors?.maxLength">Last Name must be min 4 and max 10 characters</div> -->
                            <div *ngIf="f.LastName.errors.minLength">Last Name must be min 4 and max 10 characters</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="MiddleName">Middle Name</label>
                        <input type="text" formControlName="MiddleName" class="form-control mb-2" placeholder="Enter Middle Name"/>
                    </div>
                    <div class="form-wrapper">
                        <label for="Email">Email:
                            <span class='require-color'>*</span>
                        </label>
                        <input type="" formControlName="Email" class="form-control mb-2" placeholder="example@abcd.com" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
                        <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                            <div *ngIf="f.Email.errors.required">Last Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="PasswordHash">Password:
                            <span class='require-color'>*</span>
                        </label>
                        <input type="password" formControlName="PasswordHash" class="form-control mb-2" placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f.PasswordHash.errors }" />
                        <div *ngIf="submitted && f.PasswordHash.errors" class="invalid-feedback">
                            <div *ngIf="f.PasswordHash.errors.required">Password is required</div>
                            <div *ngIf="f.PasswordHash.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label for="ConfirmPassword">Confirm Password:
                            <span class='require-color'>*</span>
                        </label>
                        <input type="password" formControlName="ConfirmPassword" class="form-control mb-2" placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" />
                        <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.ConfirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.ConfirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="PhoneNumber">Phone Number:
                            <span class='require-color'>*</span>
                        </label>
                        <input type="text" formControlName="PhoneNumber" class="form-control mb-2" placeholder="Enter Contact No." [ngClass]="{ 'is-invalid': submitted && f.PhoneNumber.errors }" />
                        <div *ngIf="submitted && f.PhoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.PhoneNumber.errors.required">Phone Number is required</div>
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <label for="Bio">Bio</label>
                        <input type="text" formControlName="Bio" class="form-control mb-2" placeholder="Enter Bio"/>
                    </div>
                </div>
                <div class="form-end">
                    <button [disabled]="loading" class="btn btn-primary mb-2">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                    <div class="member-already">
                        <span>Already a member?</span>
                        <a routerLink="/login" class="btn btn-link login-btn">Login</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
    
</div>
