<form  (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="wrapper">
        <div class="Login_backBtn__31vcK">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" 
            class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <path
                    fill="currentColor"
                    d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 
                    24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 
                    0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"
                ></path>
            </svg>
        </div>
        
        <div class="DL__login">
            <header class="DL__header-logo">
                <div class="DL__header-logo-wrapper">
                    <a href="#"><img src="https://fullstack.edu.vn/assets/icon/f8_icon.png" alt="Logo F8"></a>
                    <h2>Đăng nhập vào F8</h2>
                </div>
            </header>
            <div class="DL__main-form">
                <div class="DL__main-form-body">
                    <div class="DL__main-form-body-control">
                        <div class="DL__main-form-body-control-wrapper">
                            <div class="DL__main-form-body-control-wrapper-lableGroup">
                                <label class="DL__FormInput_label-top DL__FormInput_label-top-right">Email</label>
                            </div>
                            <div class="DL__FormInput_inputWrap__3nvHC" >
                                <input type="email" placeholder="Địa chỉ email" name="email" 
                                formControlName="email"/>
                            </div>
                        </div>
                        <div *ngIf="f.email?.touched && f.email?.invalid" class="err mt-2">
                            <span *ngIf="f.email.errors?.required" class="ms-3">Vui lòng nhập email!</span>
                            <span *ngIf="f.email.errors?.pattern" class="ms-3">Email không đúng mẫu. vd:abc@gmail.com</span>
                        </div>
                    </div>

                    <div class="DL__main-form-body-control mt-4">
                        <div class="DL__main-form-body-control-wrapper">
                            <div class="DL__main-form-body-control-wrapper-lableGroup"></div>
                            <div class="DL__FormInput_inputWrap__3nvHC">
                                <input name="password" placeholder="Mật khẩu" type="password" 
                                 formControlName="password"/>
                            </div>

                            <!-- login Success -->
                            <div *ngIf="isLoginSuccess" class="alert alert-success d-flex align-items-center mt-2 
                            animate__animated animate__slideInDown" role="alert">
                                <i class="bi bi-check-circle-fill"></i>
                                <div class="ms-2">
                                  Đăng nhập thành công
                                </div>
                            </div>

                            <!-- login failed -->
                            <div *ngIf="isLoginFailed" class="alert alert-danger d-flex align-items-center mt-2 
                            animate__animated animate__slideInDown" role="alert">
                                <i class="bi bi-exclamation-circle-fill"></i>
                                <div class="ms-2">
                                  Tài khoản mật khẩu không đúng!
                                </div>
                            </div>

                            <div *ngIf="f.password?.touched && f.password?.invalid" class="err mt-2">
                                <span *ngIf="f.password.errors?.required" class="ms-3">Vui lòng nhập mật khẩu!</span>
                                <span *ngIf="f.password.errors?.pattern" class="ms-3">Mật khẩu có ít nhất 8 ký tự</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-danger DL__ranks_primary__2JGDX base_button__3Mel7 DL__sizes_m__22wtO Login_submitBtn__Jpg5X
                     tooltip_tooltip__3LgWk mt-4" type="submit" [disabled]="!loginForm.valid ? true : false">
                        Đăng nhập
                    </button>
                </div>
            </div>
            <div class="DL__login-main-bottom">
                <p>Bạn chưa có tài khoản? 
                    <a routerLink="/register" style="text-decoration: none;">Đăng ký</a>
                </p>
            </div>
        </div>
        
        <div class="DL__link-bottom">
            <div>
                <a href="">Giới thiệu về F8</a>
                <span>|</span>
            </div>
            <div>
                <a href="">F8 trên Youtube</a>
                <span>|</span>
            </div>
            <div>
                <a href="">F8 trên Facebook</a>
            </div>
        </div>
    </div>
</form>