.footer {
  border-top: 1px solid #a8b2b8;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  background: #ffffff;
  height: 30px;
  z-index: 6;
  &__nav {
    ul {
      list-style: none;
      display: inline-block;
      li {
        position: relative;
        margin-right: 5px;
        display: inline-block;
        font-size: 14px;
        a {
          color: #82919b;
          text-decoration: none;
        }
      }

      li.pop-up {
        ul {
          display: block;
          visibility: hidden;
          position: absolute;
          top: -100px;
          width: 200px;
          background: #ffffff;
          padding: 12px 20px;
          box-shadow: #666666 0px 3px 6px 0px;
          border-radius: 16px;
          li {
            display: block;
            padding: 5px 0;
          }
        }

        &:hover > ul {
          visibility: inherit;
          margin-bottom: 40px;
        }
      }
    }
  }

  &__social__icons {
    display: flex;
    justify-content: end;
    a {
      display: inline-block;
      margin-right: 10px;
      color: #82919b;
      fa-icon {
        font-size: 20px;
      }
    }
  }
}
