<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="footer__nav">
          <a routerLink=""
            ><img
              src="assets/img/f8_icon.png"
              width="20px"
              height="20px"
              alt="footer-logo"
          /></a>
          <ul>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Cơ hội việc làm</a></li>
            <li class="pop-up">
              <ul>
                <li><a routerLink="">Tải phần mềm Macbook</a></li>
                <li><a routerLink="">Evondev</a></li>
              </ul>
              <a href="">Đối tác <fa-icon [icon]="faChevronUp"></fa-icon></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-9">
        <div class="footer__social__icons">
          <a routerLink=""><fa-icon [icon]="faThumbsUp"></fa-icon></a>
          <a routerLink=""><fa-icon [icon]="faThumbsDown"></fa-icon></a>
        </div>
      </div>
    </div>
  </div>
</footer>
